.mainDiv{
  text-align: center;
  background-image: url('../imgs/ClearImage.jpeg');
  height: 100vh;
}

.p1 {
  font-size: 1.5em;
}
.mainForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}
.mainForm input {
  width: 20%;
}
form label {
  font-size: 17px;
}
.textArea {
  width: 20%;
}
.btn1 {
  color: blue;
}
